### Statisitics 101

## Mean, Median and Mode: What Are they and When Should You Use Them

### You probably remember Mean, Median and Mode from high school stats classes but they are often used wrongly. We look at how you _should_ use them with Python Pandas examples.

What is the average height of an 18-year-old American male? Or the average price of a house in Madrid? Or the average grade achieved by high school students in England?

These are all perfectly worded questions but mean something slightly different in each case. The average in the first case is calculated using the _mean_, the house prices would be better represented using the _median_ and the school grades by the _mode_.

The average is a measurement of a central tendency and typically we would expect that it would be calculated by adding a set of values  together and then dividing by the number of values. This is the _mean_ and this works perfectly well for a normally distributed set of data like height.

You can legitimately track the height of adult Americans by adding all of their height together and divided by the number of Americans. (That's quite a task so you'd probably want to take a representative sample instead.)

And if you tracked this over time you'd get a graph like the one below from Our World in Data.


![Change in height](https://github.com/alanjones2/Alan-Jones-article-code/raw/master/meanmedianmode/images/changeinheight.png)

This works fine because height follows a normal distribution

![Height distribution](https://github.com/alanjones2/Alan-Jones-article-code/raw/master/meanmedianmode/images/heightnormaldist.jpg)

Licensed by [Illustrative Mathematics](https://illustrativemathematics.org/) under a
Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International

In [5]:
import pandas as pd

In [6]:
sal = pd.read_csv('levantesal.csv')
sal[:-1]

,Player Name,Weekly Wage,Yearly Salary,Age,Position,Nationality
0,José Campaña,33000,1716000,28.0,"DM, AM C",Spain
1,José Morales,28000,1456000,33.0,"AM RL, ST",Spain
2,Aitor Fernández,25000,1300000,30.0,GK,Spain
3,Enis Bardhi,25000,1300000,26.0,AM LC,North Macedonia
4,Coke,24000,1248000,34.0,"D RC, M R",Spain
5,Shkodran Mustafi,19000,988000,29.0,D C,Germany
6,Nikola Vukčević,19000,988000,29.0,DM,Montenegro
7,Carlos Clerc,18000,936000,29.0,D/WB L,Spain
8,Rúben Vezo,18000,936000,27.0,D C,Portugal
9,Dani Gómez,18000,936000,22.0,ST,Spain
10,Gonzalo Melero,17000,884000,27.0,"DM, AM C",Spain
11,Nemanja Radoja,16000,832000,28.0,DM,Serbia
12,Hernâni,15000,780000,29.0,AM RL,Portugal
13,Roger Martí,15000,780000,30.0,ST,Spain
14,Dani Cárdenas,14000,728000,24.0,GK,Spain
15,Jorge De Frutos,14000,728000,24.0,AM RL,Spain
16,Roberto Soldado,14000,728000,36.0,ST,Spain
17,Enric Franquesa,13000,676000,24.0,D/WB/M L,Spain
18,Jorge Miramón,11000,572000,32.0,D/WB/AM R,Spain
19,Oscar Duarte,10000,520000,32.0,D C,Costa Rica
20,Mickaël Malsa,10000,520000,25.0,DM,Martinique
21,Son,9000,468000,27.0,D/WB/AM R,Spain
22,Pablo Martínez,9000,468000,23.0,AM LC,Spain
23,Róber Pier,8700,452400,26.0,"D C, DM",Spain
24,Sergio Postigo,8000,416000,32.0,D RC,Spain
25,Pepelu,7800,405600,22.0,DM,Spain
26,Álex Blesa,2000,104000,19.0,"DM, AM C",Spain
27,Álex Cantero,2000,104000,21.0,"AM RL, ST",Spain

The data comes from the web site [Salary Sport](https://salarysport.com/football/la-liga/levante/)

In [7]:
print(f"Mean weekly wage with Messi {sal['Weekly Wage'].mean()}")
print(f"Mean weekly wage without Messi {sal[sal['Player Name'] != 'Messi']['Weekly Wage'].mean()}")
print(sal['Weekly Wage'].mean()/sal[sal['Player Name'] != 'Messi']['Weekly Wage'].mean())

Mean weekly wage with Messi 49051.724137931036
Mean weekly wage without Messi 15089.285714285714
3.250765149969394

https://gist.github.com/alanjones2/4d570fc1c9835d4732c1d64bbaaca547

In [8]:
print(f"Median weekly wage with Messi {sal['Weekly Wage'].median()}")
print(f"Median weekly wage without Messi {sal[sal['Player Name'] != 'Messi']['Weekly Wage'].median()}")
print(sal['Weekly Wage'].median()/sal[sal['Player Name'] != 'Messi']['Weekly Wage'].median())

Median weekly wage with Messi 15000.0
Median weekly wage without Messi 14500.0
1.0344827586206897